# ===================================================================
# tpQtLib requirements file
# ===================================================================
euclid
tpPyUtils
tpDccLib
tpQtLib