# ===================================================================
# tpDcc-dccs-maya requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt

-i https://pypi.anaconda.org/carlkl/simple
numpy